<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Customer</title>
  </head>
  <body>
<h1>
    Enter details:
</h1>
<form method="post">
  Name: <input name="name"/>
  Age: <input type="number" name="age"/>
  Address: <input name="address"/>
  <br/><br/>
  <button type="submit">Submit</button>
</form>
  </body>
</html>
